/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: "Times New Roman", serif;
    background-color: #0b0b0b;
    color: #eaeaea;
    line-height: 1.6;
}

/* Container for consistent width */
.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

/* Header */
header {
    background-color: #000;
    border-bottom: 1px solid #222;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.logo {
    font-size: 24px;
    letter-spacing: 2px;
}


/* Navigation */
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #eaeaea;
    font-size: 14px;
    letter-spacing: 1px;
}

nav a:hover {
    color: #c0a060;
}

/* Hero section */
.hero {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #050505;
}

.hero h2 {
    font-size: 42px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 16px;
    color: #cfcfcf;
}

/* Sections */
.section {
    padding: 80px 0;
}

.section h2 {
    border-bottom: 1px solid #c0a060;
    display: inline-block;
    padding-bottom:5px;
    
}

/* Light section */
.light {
    background-color: #111;
}

/* Cards */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.card {
    padding: 30px;
    border: 1px solid #222;
    background-color: #000;
}

.card h3 {
    margin-bottom: 10px;
    font-size: 20px;
}

/* Footer */
footer {
    text-align: center;
    padding: 30px;
    border-top: 1px solid #222;
    font-size: 14px;
    background-color: #000;
}

/* Responsive */
@media (max-width: 768px) {
    .hero h2 {
        font-size: 32px;
    }

    header .container {
        flex-direction: column;
        gap: 15px;
    }
}
h2, h3 {
    color: #c0a060;
}
header .logo {
    color: #c0a060;
}
.logo-image {
    height: 40px;
    width: auto;
    display: block;
}
.brand {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-image {
    height: 36px;
    width: auto;
}

.logo-text {
    font-size: 24px;
    letter-spacing: 2px;
    color: #c0a060;
}
